<div id="contact-container" class="center-column">
    <div id="contact-name" class="inline-column">
        <h1>Nick Champagne</h1>
        <h2>Software Engineer</h2>
    </div>
    <div id="contact-info" class="inline-column">
        <ul id="contact">
            <li><strong><a href="mailto:nickc.dev@gmail.com">Contact me</a></strong></li>
            <li><strong><a href="https://github.com/Visitor15?tab=repositories">github</a></strong> &#124; <strong><a href="https://bitbucket.org/forged_company/">bitbucket</a></strong></li>
        </ul>
    </div>
</div>