<header class="header">
	<div class="col-12 header-container-image">

	    <CENTER>
	        <div class="profile-pic"/>
	    </CENTER>

	    <div id="nav-container">
	        <CENTER>
	            <div class="header-menu">
	                <ul>
	                    <li><strong><a href="index.html">Home</a></strong></li>
	                    <li><strong><a href="work.html">Portfolio</a></strong></li>
	                    <li><strong><a href="resume.html">Resume</a></strong></li>
	                </ul>
	            </div>
	        </CENTER>
	    </div>
	</div>
</header>