@import url("column-style.css");

.image-container {
    width: 100%;
    height: 306px;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .image-container {
        width: 100%;
        height: 255px;
        background-size: cover;
    }
}

@media only screen and (max-width: 600px) {
    .image-container {
        width: 100%;
        height: 255px;
        background-size: cover;
    }
}